@model BookManagement.Models.BookData

@{
    ViewBag.Title = "Detail";
}

<h2>圖書明細</h2>

<div>
    <h4>圖書明細</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            書名
        </dt>

        <dd>
            @Model.BookName
        </dd>

        <dt>
           作者
        </dt>

        <dd>
            @Model.BookAuthor
        </dd>

        <dt>
           出版商
        </dt>

        <dd>
           @Model.BookPublisher
        </dd>

        <dt>
            內容簡介
        </dt>

        <dd>
            @Model.BookNote
        </dd>

        <dt>
            購書日期
        </dt>

        <dd>
            @Model.BookBoughtDate
        </dd>

        <dt>
            圖書類別
        </dt>

        <dd>
           @Model.BookClassName
        </dd>

        <dt>
            借閱狀態
        </dt>

        <dd>
            @Model.BookStatusName
        </dd>

        <dt>
            借閱人
        </dt>

        <dd>
            @Model.BookKeeper
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
